:root { 
    --hiero347Gdsfh_cr-accent-color: #ac32e4; 
    --hiero347Gdsfh_cr-accent-color-rgb: 172,50,228; 
    --hiero347Gdsfh_cr-secondary-color: #5562D1; 
    --hiero347Gdsfh_cr-btn-text-color: #FFFFFF; 
} 

.hiero347Gdsfh_review-item { 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(62,78,100,.15); 
    border-radius: 5px; 
    padding: 15px; 
    margin-bottom: 15px; 
    position: relative;
} 

.hiero347Gdsfh_review-item.hiero347Gdsfh_review-item-popular { 
    border: 5px solid var(--hiero347Gdsfh_cr-secondary-color);
} 

.hiero347Gdsfh_review-item:last-child { 
    margin-bottom: 0;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-ribbon { 
    position: absolute; 
    background-color: var(--hiero347Gdsfh_cr-secondary-color); 
    border-radius: 0 0 5px 0; 
    left: 0; 
    top: 0; 
    width: 165px; 
    height: 27px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 13px; 
    color: #ffffff; 
    z-index: 2;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-grid { 
    display: grid; 
    grid-template-columns: minmax(auto, 145px) 1fr minmax(auto, 135px); 
    align-items: center; 
    grid-gap: 25px;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-column.hiero347Gdsfh_review-item-column-content { 
    display: flex; 
    flex-direction: column; 
    padding: 10px 0;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-column.hiero347Gdsfh_review-item-column-action { 
    align-self: center;
} 

.hiero347Gdsfh_partner-link { 
    cursor: pointer;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-bottom { 
    margin-top: auto; 
    display: flex; 
    gap: 20px;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-buttons { 
    display: flex; 
    flex-direction: column;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-info .hiero347Gdsfh_review-title { 
    font-size: 20px; 
    font-weight: bold; 
    color: #2b3645; 
    margin-bottom: 10px; 
    display: block; 
    text-decoration: none;
} 

.hiero347Gdsfh_cr-btn { 
    display: inline-block; 
    padding: 10px 12px; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: none !important; 
    letter-spacing: normal; 
    white-space: nowrap; 
    transition: background .3s; 
    border: none; 
    cursor: pointer; 
    min-width: 110px; 
    background: var(--hiero347Gdsfh_cr-accent-color); 
    color: var(--hiero347Gdsfh_cr-btn-text-color); 
    outline: unset;
} 

.hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-buttons .hiero347Gdsfh_cr-btn { 
    flex: 1 0 auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
} 

@media (max-width: 576px) { 
    .hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-grid { 
        grid-template-columns: 1fr; 
        grid-gap: 15px;
    } 
} 

@media (max-width: 850px) { 
    .hiero347Gdsfh_review-item .hiero347Gdsfh_review-item-bottom { 
        flex-direction: column; 
        gap: 10px;
    } 
}
