:root { 
    --cr-accent-color-s2d: #ff7789; 
    --cr-accent-color-rgb-s2d: 255,119,137; 
    --cr-btn-text-color-s2d: #FFFFFF; 
    --lt-content-bg-color-s2d: #fff; 
    --lt-content-text-color-s2d: #666666; 
} 

.ydfj43Hfdh347_profiles-grid { 
    display: grid; 
    gap: 20px; 
    grid-template-columns: repeat(3, 1fr);
} 

.ydfj43Hfdh347_profile-grid-item { 
    background: #fff; 
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1)); 
    border-radius: 10px; 
    overflow: hidden; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: stretch;
} 

.ydfj43Hfdh347_profile-grid-item .ydfj43Hfdh347_profile-bottom-side { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 15px 25px 30px; 
    min-height: 165px; 
    flex: 1 1 100%;
} 

.ydfj43Hfdh347_partner-link { 
    cursor: pointer;
} 

.ydfj43Hfdh347_profile-grid-item .ydfj43Hfdh347_profile-bottom-side .ydfj43Hfdh347_profile-button { 
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    padding: 12px 20px; 
    color: #fff !important; 
    font-size: 14px; 
    font-weight: bold; 
    text-transform: uppercase; 
    background: var(--cr-accent-color-s2d); 
    box-shadow: 0 3px 10px rgba(var(--cr-accent-color-rgb-s2d), 0.5); 
    border-radius: 60px; 
    margin-top: 15px; 
    transition: box-shadow .3s; 
    cursor: pointer;
} 

.ydfj43Hfdh347_profile-grid-item .ydfj43Hfdh347_profile-bottom-side .ydfj43Hfdh347_profile-info { 
    display: flex; 
    flex-direction: column;
} 

.ydfj43Hfdh347_profile-grid-item .ydfj43Hfdh347_profile-bottom-side .ydfj43Hfdh347_profile-info .ydfj43Hfdh347_profile-location { 
    font-size: 14px; 
    line-height: 1.4; 
    font-weight: normal; 
    color: #999;
} 

.ydfj43Hfdh347_profile-grid-item .ydfj43Hfdh347_profile-bottom-side .ydfj43Hfdh347_profile-info .ydfj43Hfdh347_profile-website { 
    font-size: 14px; 
    line-height: 1.4; 
    font-weight: normal; 
    color: #333; 
    margin-top: 10px;
} 

@media (max-width: 767px) { 
    .ydfj43Hfdh347_profiles-grid { 
        grid-template-columns: repeat(2, 1fr);
    } 
} 

@media (max-width: 430px) { 
    .ydfj43Hfdh347_profiles-grid { 
        grid-template-columns: 1fr;
    } 
} 

.ydfj43Hfdh347_profile-button { 
    color: #FFF !important;
}
