:root { 
    --g5oXi5dh9a_cr-accent-color: #18c2ca; 
    --g5oXi5dh9a_cr-accent-color-rgb: 24,194,202; 
    --g5oXi5dh9a_cr-btn-text-color: #FFFFFF; 
    --g5oXi5dh9a_ct-primary-color: #18c2ca; 
    --g5oXi5dh9a_ct-content-text-color: #1d1d1b; 
} 

.g5oXi5dh9a_tns-ovh { 
    padding: 20px 0; 
    margin: -10px;
    overflow: hidden;
} 

.g5oXi5dh9a_tns-inner { 
    margin: 0px -5px 0px 10px !important;
} 

#g5oXi5dh9a_tns1-iw { 
    margin: 0px -5px 0px 10px;
} 

.g5oXi5dh9a_profiles-slider { 
    display: flex !important;
} 

#g5oXi5dh9a_tns1 {
    display: flex !important;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

#g5oXi5dh9a_tns1 > .g5oXi5dh9a_tns-item {
    flex: 0 1 calc(var(--item-width-site1) - 16px);
    max-width: calc(var(--item-width-site1) - 16px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    #g5oXi5dh9a_tns1 > .g5oXi5dh9a_tns-item {
        flex: 0 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    #g5oXi5dh9a_tns1 > .g5oXi5dh9a_tns-item {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

.g5oXi5dh9a_profile-item { 
    box-shadow: 0 4px 4px 0 rgba(100,100,100,.25); 
    background-color: #fff; 
    width: 100%;
    height: 100%;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-image-wrapper { 
    position: relative;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-item-content { 
    padding: 20px; 
    height: calc(100% - 240px); 
    display: flex; 
    flex-direction: column;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-image-wrapper .g5oXi5dh9a_profile-label { 
    position: absolute; 
    font-size: 14px; 
    right: 5px; 
    top: 5px; 
    border-radius: 4px; 
    z-index: 5; 
    padding: 3px 10px; 
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
} 

.g5oXi5dh9a_partner-link { 
    cursor: pointer;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-name { 
    font-size: 20px; 
    color: var(--g5oXi5dh9a_ct-content-text-color); 
    font-weight: bold; 
    line-height: 1.5;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-offer-online { 
    color: var(--g5oXi5dh9a_cr-accent-color); 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.25; 
    margin-bottom: 20px;
} 

.g5oXi5dh9a_profile-item .g5oXi5dh9a_profile-meta { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px 25px; 
    margin-bottom: 20px;
} 

.g5oXi5dh9a_cr-btn { 
    display: inline-block; 
    padding: 10px 12px; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: none !important; 
    letter-spacing: normal; 
    white-space: nowrap; 
    transition: background .3s; 
    border: none; 
    cursor: pointer; 
    min-width: 110px; 
    background: var(--g5oXi5dh9a_cr-accent-color); 
    color: var(--g5oXi5dh9a_cr-btn-text-color); 
    outline: unset;
} 

.g5oXi5dh9a_cr-btn:hover { 
    background: rgba(var(--g5oXi5dh9a_cr-accent-color-rgb), 0.75);
}
